{% extends 'base.html.twig' %}

{% block body %}

<div class="container mt-4>
    <div class="jumbotron">
      <h1 class="display-4">Bienvenue sur mon site de biologie sous-marine</h1>
 
        <a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus
        </a>

        {{ '<h2>essai</h2>' }}
    </div>

    
</div>

{% endblock %}